<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CS" connectionString="Server=.;Database=EmployDB;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="MP" value="COM3" />
		<add key="AppIp" value="185.118.152.61" />
		<add key="ShortLinkIp" value="185.118.152.61:8081" />
	</appSettings>
</configuration>